# 서버 설정
SERVER_PORT=9000

# JWT 설정
JWT_SECRET=kq2B8xv4zJ9L1t6Q3w8Y2u5R7o0M3n6B9c2E5h8J1k4=
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

# COOKIE 설정
COOKIE_ACCESS_TOKEN_MAX_AGE=900
COOKIE_REFRESH_TOKEN_MAX_AGE=604800

# OAuth2 설정
KAKAO_CLIENT_ID=d225bf0cb9039376276d59af9a9513f1
KAKAO_CLIENT_SECRET=sFlKCUVswi9kQnbs0sy6YFF1gqhSmtLF

# Google Gemini API 설정
GOOGLE_AI_API_KEY=AIzaSyD8AHwA3xBHpnco9kM4aGctZbf-as80vws
GOOGLE_AI_MODEL=gemini-1.5-flash
GOOGLE_AI_TEMPERATURE=0.7
GOOGLE_AI_MAX_TOKENS=1000

# 파일 업로드 절대 경로 (개인 PC 환경에 맞게 수정 가능)
FILE_UPLOAD_PATH=C:/banthing_uploads/